
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= current_page.data.title || "Untitled" %></title>

   <%= stylesheet_link_tag :'theme.min' %>
    <!-- DELETE BELOW WHEN START NEW SITE -->
    <link href="css/carousel.css" rel="stylesheet">
    <!-- DELETE AOBVE WHEN START NEW SITE -->
  </head>

  <body class="<%= page_classes %>">
     <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Carousel</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <%= yield %>

    <%= partial "footer"%>
  </body>
  <% if development? %>
  <!-- since the understrap will load it own jquery in inc/enqueue.php by wordpress function, we don't need to export jquery here -->
  <%= javascript_include_tag 'dependencies/jquery.min' %>
  <% end %>
  <%= javascript_include_tag 'dependencies/tether.min' %>
  <%= javascript_include_tag 'dependencies/bootstrap.min' %>
  <%= javascript_include_tag :'theme.min', async: !development? %>
</html>